# dependencies
/node_modules
.idea/*
web/src/.sass-cache/*
web/dist
.sass-cache/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
