.App {
  text-align: center;
  box-sizing: border-box;
}


.App-header {
  background-color: $black;
  padding: 20px;
  color: white;

}

.App-intro {
  font-size: large;
}

.header-logo {
  width: 100px;
  -webkit-animation: rotate-horizontal-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: rotate-horizontal-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

  &:hover{
    -webkit-animation: rotate-horizontal-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
    animation: rotate-horizontal-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
  }
}

.header-text{
  font-family: $header-font;
}

button {
  @include button;
}


@-webkit-keyframes rotate-horizontal-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes rotate-horizontal-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
