.label-container{
  display: block;
  margin: auto;
  width: 500px;
  vertical-align: top;
}

.input-container{
  display: block;
  margin: auto;
  width: 500px;
  vertical-align: top;
}

#array-display{
  display: block;
}

.bold-label{
  font-family: $bold-font;
  color: $text-color;
  display: inline-block;
  margin: 0;
  padding: 0 5px 0 0;
  height: 32px;
  width: 150px;
  text-align: right;
}
.data-label{
  font-family: $regular-font;
  display: inline-block;
  margin: 0;
  margin-left: 2.5px;
  color: $text-color;
}


.extra-data-container{
  display: inline-block;
  margin: 0;
}
.extra-data-label{
  font-family: $regular-font;
  display: inline-block;
  margin: 0;
  margin-left: 2.5px;
  color: $button-fill;
}

.input-alone{
  @include input;
  width: 160px;
}

.input-with-dropdown{
  @include input;
  width: 65px;
}

.input-date{
  @include input;
  width: 100px;
  height: 20px;
}

input[type="range"]{
  width: 100px;
}

.numeric-input-with-dropdown{
  @include input;
  width: 35px;
  text-align: center;
  margin-right: 5px;
}

.numeric-input-with-switch{
  @include input;
  width: 50px;
  text-align: center;
  margin-right: 5px;
}


.range-container{
  display: inline-flex;
  width: 200px;
  text-align: center;
  position: relative;
}


.inner-range-container{
  display: flex;
  vertical-align: top;
  padding: 0;
  margin: auto;
  width: 200px;
}

.range-label{
  margin: 10px 5px;
  padding: 0;
  font-family: $regular-font;
  color: $text-color;
  width: 50px;
  font-size: 15px;

}


.above-range-label{
  width: 25px;
  position: absolute;
  left: 82.5px;
  top: -20px;


}


.type-range-label{
  vertical-align: top;
  margin-top: 10px;
}



#edit-array-display{
  margin: auto;
  text-align: left;
  width: 100%;
}

.functional-span{
  color: $button-fill;
  margin-left: 5px;
}
