/* helpers */

@import 'sass-helpers/_fonts';
@import 'sass-helpers/_variables';
@import 'sass-helpers/_mixins';

@import 'content/_App';
@import 'content/sample/_ObservableSample';

@import 'content/reusableComponents/LabelArrayDisplay/_LabelArrayDisplay';


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


html {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root{

  width: 100vw;
  min-height: 100vh;
  background-color: $gray;
}